/* Add your styles here */

body{
    font-family: monospace;
}
#Name { 
    
margin-top: 100px;
 font-size: larger;
 font-style: bold;
  }
#number{
    
    margin-left: 250px;
    
}
#text{
 margin-left: 250px;
}
#button{
    margin-top: 20px;
    margin-left: 250px;
}

#text2{ position: absolute;
    margin-bottom: 50px; 
    margin-left: 650px;
}
